body {

  background-image: url("https://images.pexels.com/photos/4792729/pexels-photo-4792729.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: red;
  font-size: 24px;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 10px;
}

/* Add a white background behind each text individually */
h1,
h3,
h4,
p,
label,
textarea {
  background-color: rgba(255, 255, 255, 0.9); /* Adjust the opacity as needed */
  padding: 10px; /* Add padding to create space between the text and the background */
  display: inline-block; /* Ensure each element is displayed as an inline block */
  margin-bottom: 10px; /* Add margin to create space between elements */
}
textarea {
  font-size: 14px; /* Match the font size of the h3 title */
  width: calc(100% - 700px); /* Calculate the width to match the container minus padding */
}

img {
  max-width: 100%;
  height: auto;
}
