body {
  background-image: url("https://images.pexels.com/photos/4792729/pexels-photo-4792729.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: red;
  font-size: 24px;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
